a {
  text-decoration: none;
}
*{
    font-family: 'Noto Sans', sans-serif!important;
}
li {
  list-style-type: none;
}
.bg-red-700 {
  background-color: rgb(187, 25, 25);
}
.color-red-700 {
  color: rgb(221, 28, 28);
}
#main {
  overflow: hidden;
  #main_header {
    height: auto;
    padding-bottom: 200px;
    background-image: url(../images/baxkground.jpg);
    width: 100%;
    background-size: cover !important;
    background-position: -70% top;
    @media screen and (min-width: 576px) {
      background-position: -100% top;
    }
    @media screen and (min-width: 768px) {
      background-position: -140% top;
      padding-bottom: 300px;
    }
    @media screen and (min-width: 1200px) {
      background-position: 50% top;
    }
    @media screen and (min-width: 1400px) {
      background-position: -0% top;
      padding-bottom: 300px;
    }
    // background-repeat: no-repeat;
    // start top header
    // start mobile nav
    #top_header_mobile_nav {
      > li {
        transition: all 0.5s;
        text-align: left !important;
        &:hover {
          background-color: white;
          > a {
            color: black !important;
          }
        }
      }
    }
    // end mobile nav
    // start menu descktop
    #menu_descktop {
      white-space: nowrap;
      margin-top: 20px !important;
      > li > a {
        transition: all 0.5s;
        padding-bottom: 10px;
        &:hover {
          border-bottom: 3px solid rgb(204, 24, 24);
          width: max-content;
          color: rgba(255, 255, 255, 0.664) !important;
        }
      }
    }
    // end menu descktop
    // end top header
    // foot header
    h4 {
      line-height: 30px;
    }
    // end foot header
  }
  // start subscribe
  #subscribe {
    width: 100%;
    height: 40vh;
    background-image: url(../images/subscribe.jpg);
    position: relative;
    &::after {
      content: "";
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(20, 20, 224, 0.747);
    }
    h2 {
      line-height: 50px;
      @media screen and (min-width: 768px) {
        font-size: 21px !important;
      }
      @media screen and (min-width: 992px) {
        font-size: 31px !important;
      }
    }
    a {
      transition: all 0.5s;
      &:hover {
        background-color: white !important;
        color: blue !important;
        font-weight: 800;
      }
    }
  }
  // end subscribe
  // start last macth
  #last_macth {
    width: 100%;
    height: auto;
    padding-bottom: 150px;
    background-image: url(../images/match-result-bg.png);
    background-color: white;
    background-size: cover;
    background-position: 28% 0%;
    >.row>div:nth-of-type(1)>span:nth-of-type(1){
        width: 100px;
        height: 10px;
        background-color: rgb(192, 14, 14);
        display: block;
    }
    @media screen and (max-width: 576px) {
        background-image: none;
      }
      @media screen and (min-width: 576px) {
        background-image: none;
        
      }
      @media screen and (min-width: 1400px) {
        background-image: url(../images/match-result-bg.png);
        
      }
      
  }
  #macth-point{
    font-weight: 900!important;
    color: black!important;
  }
  

  // end last macth
//   start next match
  #next_match{
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-image: url(../images/nextmacthbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 200%;
  }
  //   end next match
  // start coach
  #coach{
    padding: 100px 0 0 0;
    background-color: white;
    width: 100%;
    >div>div>div>blockquote>q>h3{
      line-height: 50px;
      font-weight: normal;
    }
  }
  // end coach
  // start bascketball movie
  #bascketball_movie{
    width: 100%;
    background-image: url(../images/vidoebg.jpg);
    padding: 100px 0;
    background-attachment: fixed;
    >div>div:nth-of-type(1)>a{
      width: 100px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(221, 28, 28);
      color: white;
      font-size: 50px;
      padding: 60px;
      border-radius: 100%;
      border: 3px solid white;
    }
  }
  // end bascketball movie
  // start thunder team
  #thunder_team{
    width: 100%;
    padding: 100px 0;
    background-color: white;
    
    .thunder_box>div>figure>figcaption{
      padding: 20px;
      
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      clip-path: polygon(0% 0%, 9% 93%, 86% 94%, 100% 0%);
      color: white;
      background-color: #380ebf;
      // margin-top: 1px;
    }
  }
  // end thunder team
  .underline{
    width: 100px;
    height: 10px;
    background-color: rgb(221, 28, 28);
    display: block;
    margin-top: 30px;
    margin:  auto;
  }
  // start latest news
    #latest_news{
      padding: 100px 0;
      width: 100%;
      background-color: white;
    }
  // end latest news
  // start our sponsered
  #our_sponsered{
    background-image: url(../images/content-bg05.jpg);
    width: 100%;
    padding: 100px;
    background-attachment: fixed;
    background-size: cover;
  }
  // end our sponsered
  // start contact us
  #contact_us{
    width: 100%;
    padding: 100px 0;

  }
  // end contact us
  #footer{
    width: 100%;
    padding: 100px;
    background-image: url(../images/content-bg06.jpg);
    
  }
}
